.row {
  max-width: $grid-width;
  //   background-color: aquamarine;
  margin: 0 auto;
  font-size: 2.4rem;
  height: 6rem;

  @include clearfix;

  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }

  //   [class^='col-'] {
  //     color: green;
  //   }
  .col-1 {
    width: calc((100% - #{$gutter-horizontal}) / 2);
    // background-color: orange;
    float: left;

    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }
  }
  .col-4 {
    width: calc((100% -#{$gutter-horizontal} / 4));
    background-color: palevioletred;
    float: left;

    &.col-4_1 {
      width: calc((100% - #{$gutter-horizontal}* 3) / 4);
    }

    &.col-4_2 {
      width: calc(((100% - #{$gutter-horizontal}) / 4) * 2);
    }

    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }
  }
}

.col-4_1 {
  width: calc((100% - #{$gutter-horizontal}* 3) / 4);
  float: left;
  &:not(:last-child) {
    margin-right: $gutter-horizontal;
  }
}

.col-3_1 {
  width: calc((100% - #{$gutter-horizontal}* 2) / 3);
  float: left;
  // background-color: aqua;
  &:not(:last-child) {
    margin-right: $gutter-horizontal;
  }
}
